build/
install/
log/
.buildcache/
.vscode/
.github/
neupan_env/
/tips.txt
/env.txt
src/ros2_bag_tools/bags/
launch_logs/
maps/
bags/

# Python 编译缓存
__pycache__/
*.pyc
*.pyo

/chat.instructions.md

.clinerules/
.claude/
/.codex
/CLAUDE.md
library/PCL_FLOW.md
.agents/
.teach/